@import "reset";

//////////////////////
//       変数       //
//////////////////////
$bule: #005792;
$navy: #13334c;
$ivory: #f6f6e9;
$orange: #fd5f00;

//////////////////////
//       共通       //
//////////////////////
html {
  font-size: 62.5%;  // 10px
}
body {
  font-size: 1.6rem;
  width: 100%;
  overflow: hidden;
}

.btn_start {
  color: $ivory;
  background-color: #fff100;
  border-bottom: 5px solid #ccc100;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  width: 200px;
  position: relative;
  display: inline-block;
  padding: 1rem 4rem;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  letter-spacing: 0.1em;
  color: #212529;
  border-radius: 0.5rem;
  &:hover {
    margin-top: 3px;
    color: #000;
    background: #fff20a;
    border-bottom: 2px solid #ccc100;
  }
}


.btn {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  &_gu, &_cho, &_pa {
    // display: inline-block;
    width: 10rem;
    height: 10rem;
    margin: 0 auto;
    text-decoration: none;
    background: $bule;/*ボタン色*/
    border-bottom: solid 4px #627295;
    border-radius: 3px;
    position: relative;
  }
  &_gu {
    &_img {
      width: 90%;
      height: 90%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    &:focus {
      /*ボタンを押したとき*/
      -webkit-transform: translateY(4px);
      transform: translateY(4px);/*下に動く*/
      border-bottom: none;/*線を消す*/
      background: $orange;
    }
  }
  &_cho {
    &_img {
      width: 90%;
      height: 90%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    &:focus {
      /*ボタンを押したとき*/
      -webkit-transform: translateY(4px);
      transform: translateY(4px);/*下に動く*/
      border-bottom: none;/*線を消す*/
      background: $orange;
    }
  }
  &_pa {
    &_img {
      width: 90%;
      height: 90%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    &:focus {
      /*ボタンを押したとき*/
      -webkit-transform: translateY(4px);
      transform: translateY(4px);/*下に動く*/
      border-bottom: none;/*線を消す*/
      background: $orange;
    }
  }
}
