html {
    font-size: 4vw;
    background-image: linear-gradient(-20deg, #e9defa 0%, #fbfcdb 100%);
    text-align: center;
}

h2 {
  background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* p {
    background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
} */

a {
    background: #7F7FD5;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #91EAE4, hsl(219, 67%, 72%), #7F7FD5);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    text-decoration: none;
    padding: 1vw;
    color: black;
    border: 2px solid black;
}

button {
    font-size: 4vw;
}

#reset {
    margin: 60vw auto;
}