table {
  margin: 10px auto;
}

td.card {
  width: 80px;
  height: 120px;
  margin: 2px;
  background-size: cover;
}

td.card.back {
  background-image: url(images/z01.gif) !important; 
  /* 最優先 */
}

td.open {
  pointer-events: none;
}

.match {
  visibility: hidden;
  pointer-events: none;
}